/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li, button, label, input, p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
}

h4, h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #DAAD86;
}

button {
  background: #8D8741;
  color: white;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  padding: 2rem 6rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #DAAD86;
}

/* Nav & Hero */

.main-header {
  background: #659DBD;
  color: white;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("./images/landing-page-2.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Locations Section */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./images/new-york-page.png);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-header {
  width: 90%;
  margin: auto;
}

.locations-header h2 {
  padding: 1rem 0rem;
  border-bottom: 0.5rem solid black;
  display: initial;
}

.locations-header h3 {
  width: 50%;
  padding: 4rem 0rem;
  margin-top: 5rem;
  background: linear-gradient(black, #8D8741);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  max-width: 75%;
  height: auto;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    tranform: translate(0%, 0%);
  }
}


/* Benefits Section */

.benefits-header {
  background: #659DBD;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.benefits-header p {
  padding: 3rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.cards a {
  color: black;
}

.cards a:hover {
  color: #DAAD86;
}

.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0 10px 10px lightgrey, 0 20px 20px lightgrey;
  text-align: center;
}

.card h4, p {
  padding: 1rem;
}

.card-icon {
  background: #659DBD;
  height: 8rem;
}

/* Contact Section */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./images/contact-mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background: #20333D;
  opacity: 0.8;
  width: 50%;
  color: white;
  border-radius: 2rem;
}

.form-header {
  text-align: center;
  padding: 2rem;
}

.name-form, .email-form, .message-form {
  text-align: center;
  padding: 2rem;
}

.message-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  border-radius: 0rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
}

.form-wrapper input, textarea {
  padding: 1rem 3rem;
}


/* Footer */

footer {
  color: white;
  background: #659DBD;
}


@media screen and (max-width: 360px) {

  /* Locations Section */
  .locations-header h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    border-bottom: 0;
  }

  .moving-cloud-2 {
    top: 5%;
  }

  /* Contact Section */

  .form-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 490px) {
  
  /* Contact Section */
  .message-form {
    display: block;
  }
}

@media screen and (max-width: 655px) {
  
  /* Nav & Hero Section */
  nav {
    text-align: center;
  }

  /* Locations Section */
  .locations-header h3 {
    width: 75%;
  }

  .cloud {
    max-width: 100%;
  }

  /* Contact Section */

  .form-wrapper {
    width: 70%;
  }
  
  .message-form textarea {
    margin-top: 1rem;
    width: 60%;
  }

  .form-wrapper input {
    margin-top: 1rem;
    width: 60%;
  }
}

@media screen and (max-width: 950px) {
  
  /* Nav & Hero Section */
  html {
    font-size: 45%;
  }

  #logo {
    padding: 1rem;
  }

  /* Contact Section */

  .message-form textarea {
    margin-top: 1rem;
    width: 50%;
  }
}